<html>
	<head>
		<title>HST Fifa 2018 Contest</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type='text/css'> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/styles.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
      					<img class="cupicon" src="https://png.icons8.com/ios/32/ffffff/world-cup.png">
    			</div>
	    		<ul class="nav navbar-nav">
	      			<li><a href="/">HST World Cup Contest</a></li>
	      			<li><a href="/">Group Stage</a></li>
	      			<!--<li><a href="/">Knockout Stage</a></li>-->
	      		</ul>
	    		<ul class="nav navbar-nav navbar-right">
	      			<li><img class="cupicon" src="https://png.icons8.com/ios/32/ffffff/world-cup.png"></li>
	    		</ul>
  			</div>
		</nav> 
		<div class="container">