<% include partials/header %>

			
			<div class="row">
				<div class="col-md-3 current">
					<div class="titleband margin">
						<h1 class="titletext margin">Round of 16</h1>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1 current">
					<div class="titleband margin">
						<h1 class="titletext1 margin">Quarter-Finals</h1>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1 current">
					<div class="titleband margin">
						<h1 class="titletext2 margin">Semi-Finals</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 current">
					<ul class="list-group">
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/uruguay.png">
									</td>
									<td class="countryname">Uruguay</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Shani</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/portugal.png">
									</td>
									<td class="countryname">Portugal</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Jon</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/france.png">
									</td>
									<td class="countryname">France</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Joe and Jennifer</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/argentina.png">
									</td>
									<td class="countryname">Argentina</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Amir</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/brazil.png">
									</td>
									<td class="countryname">Brazil</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Ram</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/color/40/ffffff/mexico.png">
									</td>
									<td class="countryname">Mexico</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Anita</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/belgium.png">
									</td>
									<td class="countryname">Belgium</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Karina</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/japan.png">
									</td>
									<td class="countryname">Japan</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Isabel</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/spain.png">
									</td>
									<td class="countryname">Spain</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Hila</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/russian-federation.png">
									</td>
									<td class="countryname">Russia</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Janet</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/croatia.png">
									</td>
									<td class="countryname">Croatia</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Yifat</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/denmark.png">
									</td>
									<td class="countryname">Denmark</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Guy</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/sweden.png">
									</td>
									<td class="countryname">Sweden</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Eyal</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/switzerland.png">
									</td>
									<td class="countryname">Switzerland</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Iris, Koby and Michal</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item divider current"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/colombia.png">
									</td>
									<td class="countryname">Colombia</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Marina</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/england.png">
									</td>
									<td class="countryname">England</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Pauline</td>
								</tr>
							</table>
						</li>	
					</ul>	
				</div>
				<div class="col-md-3 col-md-offset-1 current">
					<ul class="list-group">
						<li class="list-group-item divider top1"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/uruguay.png">
									</td>
									<td class="countryname">Uruguay</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Shani</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="https://png.icons8.com/office/40/ffffff/france.png">
									</td>
									<td class="countryname">France</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">Joe and Jennifer</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item bigdivider"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item bigdivider"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item bigdivider"></li>
						<li class="list-group-item paddingfix"><table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
					</ul>	
				</div>
				<div class="col-md-3 col-md-offset-1 current">
					<ul class="list-group">
						<li class="list-group-item divider top2"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item bigdivider2"></li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
						<li class="list-group-item against">Against</li>
						<li class="list-group-item paddingfix">
							<table class="countrytable">
								<tr>
									<td class="countryimg">
										<img src="./images/cup.png">
									</td>
									<td class="countryname">TBD</td>
								</tr>
								<tr>
									<td colspan="2" class="staff">TBD</td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>

<% include partials/footer %>